@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Unicorn Company History</h1>

<h2>About us</h2>

<p>Started this page for my wife because of her love for unicorns. Now it rules the world. Period</p>